.max-witdh-coordinator-comment {
    max-width: 170px;
}

.table-my-actions > tbody > tr > td.fix-1st-pading-comment-table {
	padding: 3px !important;
}
.center-padding-table-overview {
    text-align: left;
    padding-left: 105px !important;
}

.fix-center-info-toggle-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #349da2;
    border: none;
    padding: 0;
    padding-top: 1.3px;
    padding-left: 0.5px;
}

/*Basic static - group/orphan review*/
.fix-arrow-collapse-stat-table .collapsed:before {
    content: "\f0d7";
}
.fix-arrow-panel-action-toggle:before {
    content: "\f0d8";
}
/* Filter tags user Assignment */
.help_guide_sub .filter-tags-userassign {
    padding-top: 10px;
    padding-left: 15px;
}
.filter-tags-userassign .filter-label-assign .filter-remove-assign {
    color: #fff;
    margin-right: 5px;
    cursor: pointer;
}
.filter-tags-userassign .filter-label-assign {
    margin-right: 5px;
    font-size: 100%;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 5px;
}

/*Notification Page*/
.panel-noti > .panel-body {
    padding: 0 0 5px 0;
}

.noti-item {
    margin: 0 !important;
    padding: 8px 15px;
}

.noti-item:nth-child(even), .noti-block > .noti-list:nth-child(odd), .col-noti > .noti-list:nth-child(even) {
    background-color: #f6f6f6 ;
}

.noti-popup   .list-unstyled > li {
    padding-left: 10px;
}

.noti-popup {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.noti-div {
    display: flex;
    flex-direction: column;
}

.noti-block .noti-date {
    color: #747474;
    background-color: #E6E6E6;
}

/* Fix max width td table */
.max-width-th-confidentialy {
    min-width: 240px
}

.fix-z-index-info-button {
    z-index: 1050
}

/* Chart overview */

@media (min-width: 992px) {
    .charts.container .col-md-4 {
        padding-right: 0px;
        padding-left: 10px;
    }

    .container.overview-summary .col-md-12 {
        padding-right: 0px;
        padding-left: 10px;
    }
    .chart-legend li .legend-symbol {
        width: 10px;
        height: 10px;
    }

    .chart-panel .chart-legend.serie-0 li:nth-child(even) {
        width: 53%;
        margin-left: 5px;
    }

    .chart-panel .chart-legend.serie-0 li:nth-child(odd) {
        width: 43%;
    }

    .chart-legend li {
        padding-left: 12px !important;
    }
}

.help_question_bottom.fix-margin.has-arrow {
    margin-left: -260px;
    left: auto;
}

@media (max-width: 996px) {
    .help_question_bottom.fix-margin.has-arrow {
        margin-left: 0;
        right: -5px;
        left: auto !important;
    }
}


@media (min-width: 768px) {
    .chart-panel {
        max-width: 100%;
        margin: auto;
    }

    .chart-panel .chart.chart-md {
        margin: auto;
    }
}

@media (min-width: 1200px) {
    .chart-panel {
        max-width: 400px;
        margin: auto;
    }
    .charts.container .col-md-4 {
        padding-right: 15px;
        padding-left: 15px;
    }
}


.my-chart-legend-center {
    margin: 0 auto 5px;
    width: 40px;
    float: none;
}

.chart-stacked .chart-legend.serie-1 {
    right: 8px;
    top: -15px;
}

.no-active {
    color: #DDD !important;
}
.no-active:hover {
    color: #4fca9d !important;
}
/* fix header review menu */
.my_header .navbar-default.nav-custom .navbar-nav > li .fix-review-menu li a {
    font-size: 16px;
    padding: 5px 30px 0px 20px;
}

/* Fix table review */
.table-my-actions > thead tr th.fix-width:nth-child(2){
    width: 68px;
}

.table-my-actions > thead tr th.fix-max-width-category-confident {
    max-width: 200px;
}

.dataTables_wrapper table thead th.fix-padding-th-checkbox {
    padding-right: 10px !important;
}

.table-my-actions tbody.fix-td-checkbox > tr > td .checkbox-custom {
     padding: 0px 0px 0px 0px !important;
}
.table-my-actions tbody.fix-td-checkbox > tr td:nth-child(1) {
     width: 41px;
}
/*Table document preview*/
/*table.docPreview > tbody > tr > td:nth-child(1) {
    padding: 12px 7px 12px 13px !important;
}

table.docPreview > thead > tr > th:nth-child(1) {
    padding: 12px 7px 12px 13px !important;
}*/

table.docPreview > thead > tr > th:nth-child(2) {
    min-width: 325px;
}

/*Fix helpButton document preview popup*/
.modal-preview div.dropdown-menu.has-arrow {
    padding: 5px;
}
/* Fix help icon overview */
.fix-overview-help-button {
    color: #000011;
    font-weight: normal;
    width: 330px;
}

@media (max-width: 996px) {
    .dropdown-menu.full-mobile.new-help {
        width: 90%;
    }
}


.fix-overview-help-button-table {
    max-width: 300px;
}

.help_question_bottom.fix-margin.has-arrow:after {
	margin-left: 235px;
}

.help_question_bottom.fix-margin.has-arrow {
    margin-left: 0;
    right: -5px;
}

.note_chart_content_review.fix.has-arrow:after {
	margin-left: 230px;
}
.note_chart_content_review.fix.has-arrow {
    margin-left: -250px;
}

@media (max-width: 768px) {
    .widget-panel .widget-chart .chart.chart-md {
        margin: auto;
    }

    .user-assignment-filter.list-unstyled .dropdown-menu {
        width: auto;
    }

    .user-assignment-filter .filter-list {
        margin-left: 0px;
    }

    .user-assignment-filter .filter-list > li {
        min-width: 100% !important;
        width: 100%;
    }
}

.user-assignment-filter.list-unstyled .dropdown-menu {
    min-width: 230px;
    width: 52vw;
}

.user-assignment-filter .filter-list > li {
    text-align: left;
    min-width: 140px;
}

.user-assignment-filter .filter-list > li:nth-child(1) {
    width: 22%;
}

.user-assignment-filter .filter-list > li:nth-child(2) {
    width: 31%;
}

.user-assignment-filter .filter-list > li:nth-child(3) {
    width: 37%;
}


/* lenged centroid chart */
.cendroid-frame {
    padding-bottom: 5px !important;
}
.cendroid-chart-legend.new .document-symbol {
    display: block;
    vertical-align: bottom;
    padding: 2px;
    text-align: left;
    font-size: 10px;
}

.cendroid-chart-legend.new {
    position: static;
}

.file-distribution {
    margin: 0 0px 0 0px;
}
.cendroid-chart-legend.new .document-symbol i {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #DADADA;
}

.cendroid-chart-legend.new .document-symbol span {
    margin-left: 5px;
}

@media (max-width: 500px) {
    #centroidChartWrapper {
        height: 135px;
    }

    .cendroid-chart-legend h5 {
        text-align: left;
    }

    .cendroid-chart-legend.new {
        width: 91%;
        margin: auto;
        text-align: center;
    }

    .cendroid-chart-legend.new .document-symbol {
        display: inline-block;
        padding: 0px;
        width: initial;
        text-align: center;
        margin-right: 5px;
    }

    .cendroid-chart-legend.new .document-symbol i {
        display: block;
        margin: auto;
    }
}

/* fix label progress bar */
.dathena-progress.style-2.fix-label {
    padding-right: 0px;
}
.dathena-progress .progress-bar.fix-padding {
    padding-right: 0px;
    padding-left: 0px;
}
.dathena-progress.style-2 .label-percent {
    position: absolute;
    margin-left: -35px;
}

.label-percent {
    position: absolute;
    line-height: 35px;
    font-weight: bold;
    left: 0;
    margin-left: 27%;
}

/**/

.text-capitalize {
    text-transform: capitalize;
}
/*clock*/
.table-challenge.size-timer-clock .fa-clock-o {
    font-size: 25px;
}

/*custom select2*/
.filter-buttons .dropdown-menu .select2.select2-container {
    min-width: 135px;
}

.filter-buttons .dropdown-menu .select2-selection {
    min-height: 34px;
}

.filter-buttons .dropdown-menu .select2-selection .select2-selection__rendered {
    line-height: 34px;
}
.dathena-select {
   display: inline-flex;
 }
.select2-dropdown ul.select2-results__options li[id$="-label"] {
    display: none;
}

/*Fix timer button*/

.table-my-actions .doc-check.fix-size {
    font-size: 25px;
}

.panel-title i.fa.fa-clock-o.fix-size {
    font-size: 25px;
}

/*Fix document name*/

.table-my-actions span.file-name.fix-max-width-row2 {
    max-width: 180px;
    margin-right: -35px;
    padding-right: 5px;
}

.table-my-actions span.file-name.fix-max-width-row {
    max-width: 250px;
    margin-right: -110px;
    padding-right: 10px;
}

/* height select2 filter */

.dathena-select-dropdown.dropdown-select-filter .select2-results__options {
    max-height: 250px !important;
}

.dathena-select-dropdown .select2-results__options .select2-results__option.select2-results__option--highlighted-a:before {
    background-color: #4fca9d;
}

.dathena-select-dropdown .select2-results__options .select2-results__option.select2-results__option--highlighted {
    background-color: rgba(15, 14, 14, 0.08) !important;
}

.dathena-select-dropdown .select2-results__options .select2-results__option.select2-results__option--highlighted {
    background-color: rgba(15, 14, 14, 0.08) !important;
}

.dathena-select-dropdown.background-option-highlighted .select2-results__options .select2-results__option.select2-results__option--highlighted::before {
    background-color: #D6D6D6 !important;
}

.dathena-select.select-user-review .select2-selection__rendered:before {
    background-color: #D6D6D6 !important;
}

.dathena-select-dropdown ::-webkit-scrollbar {
    height: 6px;
}

/*User Asignment page*/

div#doctypeChartUserAssignment {
    height: 250px;
}

.chart-pane.chart-user-assignment .chart-legend li {
    margin-right: 10px !important;
}

select.assigment-select.form-control {
    margin-right: 5px;
    width: 80%;
}

.user-assign-valid-btn .validation-btn:hover,
.user-assign-valid-btn .validation-btn:hover .fa {
    color: #0D9FD6 !important;
}

.select-reviewers {
    margin-top: -16px;
}

.select-reviewers .switch {
    margin: 6px 0;
}

/* design show less comment */

.extra-block.show-less-comment .details-toggle {
    float: right;
    border-top: none;
    margin-bottom: -7px;
    padding: 6px 0px 0px 0;
}

/* info button new design */

.dropdown-menu.info-scan .help-info-button {
    float: left;
}

.dropdown-menu.info-scan .general-table > tbody > tr > td.text-right {
    text-align: right;
}

.dropdown-menu.info-scan .table-info > tbody > tr > td:nth-child(1) {
    background-color: initial;
    font-weight: 600;
    width: 30%;
}

.dropdown-menu.info-scan {
    max-width: 530px;
}

.dropdown-menu.info-scan .table-responsive .text {
    float: left;
    white-space: normal;
    width: calc(100% - 40px);
}

.dropdown-menu.info-scan .table-responsive help-info-button.dropdown {
    float: left;
    width: 40px;
}

/* title menu bar */
.my_main.bar_menu .title-heading {
    margin-top: 12px;
    font-weight: 300;
    color: #15213C;
    font-size: 24px;
}

/* Fix width tooltip */
.tooltip .tooltip-inner {
    max-width: none;
    width: auto;
}
/*Fix table classification review*/
.table-my-actions.table-classification-width > tbody > tr > td.select-confidentiality,
.table-my-actions.table-classification-width > tbody > tr > td.select-category {
    width: 300px;
}
.tab-content.br-radius {
    border-radius: 5px;
}
/* Document review 1st line*/
.table-my-actions.docPreview > thead tr th:nth-child(2) {
    width: initial;
}
/*fix tooltip chart overview*/
.widget-chart {
    font-size: 12px;
}
.chart-stacked .highcharts-container {
    z-index: 10 !important;
}

/*modal-backdrop*/
.modal-backdrop {
    background-color: rgba(255, 255, 255, 0.5);
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: 1;
}
.modal-well-done {
    top: 50%;
    margin-top: -100px;
}

.custom-modal {
    max-width: 400px;
}

.custom-modal .modal-content {
    border: 1px solid #c2e1f5;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    min-height: 110px;
}

/* progress lable */

.progress-label-container {
    background-color: #fff;
    position: fixed;
    top: 45%;
    left: 50%;
    z-index: 999;
}

.progress-label-container .progress-example {
    position: fixed;
    width: 45px;
    height: 45px;
    top: 45%;
    left: 50%;
    z-index: 999;
    background-color: transparent;
}

.loading-label {
    display: block;
    line-height: 65px;
    margin-left: -5px;
    padding-top: 60%;
    color: #c6c6c6;
    font-weight: bold;
}

.loading-label-2 {
    position: absolute;
    z-index: 999;
    margin-top: 85px;
    margin-left: -25px;
    text-align: center;
    width: 100px;
    font-weight: bold;
}

.loading-label-2 .pls {
    color: #7fbdc0;
}

.progress-label-container .label-1 {
    top: 0;
    left: 0;
}
.progress-label-container .label-2 {
    top: 6px;
    left: 6px;
}
.progress-label-container svg {
    position: absolute;
}

.loading-backdrop-custom {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 990;
    background-color: rgba(255, 255, 255, 0.9);
}

/* Fix position menu */
@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position: relative;
    }
}

/* Fix select orphan and group */
.review_choose-cluster-block > .form-group,
.review_choose-cluster-block > .form-group > .input-group ,
.review_choose-cluster-block > .form-group > .input-group > label {
    width: 100%;
}

.choose-cluster-block > .form-group .select2-container {
    width: 50% !important;
}
/* chart legend overview */
.chart-legend li {
    padding-left: 15px;
}

.panel-body.chart-panel {
    min-height: 432px;
}

#overview-panel-2 i.fa {
    text-align: center;
    margin-right: 4px;
}

/* modal preview */
.modal-title.modal-title-preview {
    width: 20%;
}

.modal-preview .modal-action-preview {
    width: 28%;
}
