.max-witdh-coordinator-comment {
    max-width: 170px;
}

.fix-1st-pading-comment-table {
	padding: 3px !important;
}
.center-padding-table-overview {
    text-align: left;
    padding-left: 105px !important;
}

.fix-center-info-toggle-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #349da2;
    border: none;
    padding: 0;
    padding-top: 1.3px;
    padding-left: 0.5px;
}

/*Basic static - group/orphan review*/
.fix-arrow-collapse-stat-table .collapsed:before {
    content: "\f0d7";
}
.fix-arrow-panel-action-toggle:before {
    content: "\f0d8";
}
/* Filter tags user Assignment */
.help_guide_sub .filter-tags-userassign {
    padding-top: 10px;
    padding-left: 15px;
}
.filter-tags-userassign .filter-label-assign .filter-remove-assign {
    color: #fff;
    margin-right: 5px;
    cursor: pointer;
}
.filter-tags-userassign .filter-label-assign {
    margin-right: 5px;
    font-size: 100%;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 5px;
}

/*Notification Page*/
.panel-noti > .panel-body {
    padding: 0 0 5px 0;
}

.noti-item {
    margin: 0 !important;
    padding: 8px 15px;
}

.noti-item:nth-child(even), .noti-block > .noti-list:nth-child(odd), .col-noti > .noti-list:nth-child(even) {
    background-color: #f6f6f6 ;
}

.noti-popup   .list-unstyled > li {
    padding-left: 10px;
}

.noti-popup {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.noti-div {
    display: flex;
    flex-direction: column;
}

.noti-block .noti-date {
    color: #747474;
    background-color: #E6E6E6;
}

/* Fix max width td table */
.max-width-th-confidentialy {
    min-width: 240px
}

.fix-z-index-info-button {
    z-index: 1050
}

.my-chart-legend-center {
    margin: 0 auto 5px;
    width: 40px;
    float: none;
}

.chart-stacked .chart-legend.serie-1 {
    right: 15px;
    top: -15px;
}

.no-active {
    color: #DDD !important;
}
.no-active:hover {
    color: #4fca9d !important;
}
/* fix header review menu */
.my_header .navbar-default.nav-custom .navbar-nav > li .fix-review-menu li a {
    font-size: 16px;
    padding: 5px 30px 0px 20px;
}

/* Fix table review */
.table-my-actions > thead tr th.fix-width:nth-child(2){
    width: 68px;
}

.table-my-actions > thead tr th.fix-max-width-category-confident {
    max-width: 200px;
}

.dataTables_wrapper table thead th.fix-padding-th-checkbox {
    padding-right: 10px !important;
}

.table-my-actions tbody.fix-td-checkbox > tr > td .checkbox-custom {
     padding: 0px 0px 0px 0px !important;
}
.table-my-actions tbody.fix-td-checkbox > tr td:nth-child(1) {
     width: 41px;
}
/*Table document preview*/
/*table.docPreview > tbody > tr > td:nth-child(1) {
    padding: 12px 7px 12px 13px !important;
}

table.docPreview > thead > tr > th:nth-child(1) {
    padding: 12px 7px 12px 13px !important;
}*/

table.docPreview > thead > tr > th:nth-child(2) {
    min-width: 325px;
}

/*Fix helpButton document preview popup*/
.modal-preview div.dropdown-menu.has-arrow {
    padding: 5px;
}
/* Fix help icon overview */
.fix-overview-help-button {
    color: #000011;
    font-weight: normal;
    width: 330px !important;
    min-width: 300px;
}

.fix-overview-help-button-table {
    max-width: 300px;
}

.help_question_bottom.fix-margin.has-arrow:after {
	margin-left: 235px;
}
.help_question_bottom.fix-margin.has-arrow {
    margin-left: -265px;
}

.note_chart_content_review.fix.has-arrow:after {
	margin-left: 230px;
}
.note_chart_content_review.fix.has-arrow {
    margin-left: -250px;
}
@media (max-width: 768px) {
    .widget-panel .widget-chart .chart.chart-md {
        margin: auto;
    }
}


/* lenged centroid chart */
.cendroid-frame {
    padding-bottom: 5px !important;
}
.cendroid-chart-legend.new .document-symbol {
    display: block;
    vertical-align: bottom;
    padding: 2px;
    text-align: left;
    font-size: 10px;
}

.cendroid-chart-legend.new {
    position: static;
}

.file-distribution {
    margin: 0 15px 0 0;
}
.cendroid-chart-legend.new .document-symbol i {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #DADADA;
}

/* fix label progress bar */
.dathena-progress.style-2.fix-label {
    padding-right: 0px;
}
.dathena-progress .progress-bar.fix-padding {
    padding-right: 0px;
    padding-left: 0px;
}
.dathena-progress.style-2 .label-percent {
    position: absolute;
    margin-left: -35px;
}

/**/

.text-capitalize {
    text-transform: capitalize;
}
/*clock*/
.table-challenge.size-timer-clock .fa-clock-o {
    font-size: 25px;
}

/*custom select2*/
.filter-buttons .dropdown-menu .select2.select2-container {
    min-width: 135px;
}

.filter-buttons .dropdown-menu .select2-selection {
    min-height: 34px;
}

.filter-buttons .dropdown-menu .select2-selection .select2-selection__rendered {
    line-height: 34px;
}

.select2-dropdown ul.select2-results__options li[id$="-label"] {
    display: none;
}

/*Fix timer button*/

.table-my-actions .doc-check.fix-size {
    font-size: 25px;
}

.panel-title i.fa.fa-clock-o.fix-size {
    font-size: 25px;
}

/*Fix document name*/

.table-my-actions span.file-name.fix-max-width-row2 {
    max-width: 180px;
    margin-right: -35px;
}

.table-my-actions span.file-name.fix-max-width-row {
    max-width: 250px;
    margin-right: -110px;
}

/* height select2 filter */

.dathena-select-dropdown.dropdown-select-filter .select2-results__options {
    max-height: 250px !important;
}

.dathena-select-dropdown .select2-results__options .select2-results__option.select2-results__option--highlighted-a:before {
    background-color: #4fca9d;
}

.dathena-select-dropdown .select2-results__options .select2-results__option.select2-results__option--highlighted {
    background-color: rgba(15, 14, 14, 0.08) !important;
}

.dathena-select-dropdown .select2-results__options .select2-results__option.select2-results__option--highlighted {
    background-color: rgba(15, 14, 14, 0.08) !important;
}

.dathena-select-dropdown.background-option-highlighted .select2-results__options .select2-results__option.select2-results__option--highlighted::before {
    background-color: #D6D6D6 !important;
}

.dathena-select.select-user-review .select2-selection__rendered:before {
    background-color: #D6D6D6 !important;
}

.dathena-select-dropdown ::-webkit-scrollbar {
    height: 6px;
}

/*User Asignment page*/

div#doctypeChartUserAssignment {
    height: 250px;
}

.chart-pane.chart-user-assignment .chart-legend li {
    margin-right: 10px !important;
}

select.assigment-select.form-control {
    margin-right: 5px;
}

.user-assign-valid-btn .validation-btn:hover,
.user-assign-valid-btn .validation-btn:hover .fa {
    color: #0D9FD6 !important;
}

.select-reviewers {
    margin-top: -14px;
}

/* design show less comment */

.extra-block.show-less-comment .details-toggle {
    float: right;
    border-top: none;
    margin-bottom: -7px;
    padding: 6px 0px 0px 0;
}

/* info button new design */

.dropdown-menu.info-scan .help-info-button {
    float: left;
}

.dropdown-menu.info-scan .general-table > tbody > tr > td.text-right {
    text-align: right;
}

.dropdown-menu.info-scan .table-info > tbody > tr > td:nth-child(1) {
    background-color: initial;
    font-weight: 600;
}

/* title menu bar */
.my_main.bar_menu .title-heading {
    margin-top: 12px;
    font-weight: 300;
    color: #15213C;
    font-size: 24px;
}

/* Fix width tooltip */
.tooltip .tooltip-inner {
    max-width: none;
    width: auto;
}
/*Fix table classification review*/
.table-my-actions.table-classification-width > tbody > tr > td.select-confidentiality,
.table-my-actions.table-classification-width > tbody > tr > td.select-category {
    width: 300px;
}
.tab-content.br-radius {
    border-radius: 5px;
}
/* Document review 1st line*/
.table-my-actions.docPreview > thead tr th:nth-child(2) {
    width: initial;
}
