#err {
    color: #B94A48;
    text-align: center;
}

.err {
    color: #B94A48;
}

.has-error {
    border-color: #B94A48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-error:focus {
    border-color: #ccc;
}

#submitForm .error {
    color: #B94A48;
    border-color: #B94A48;
}

#submitForm .error:focus {
    border-color: #ccc;
}

#messageUnAgree {
    color: #B94A48;
}

.loading-dot {
    display: inline-block;
    font-size: 1.6em;
    font-weight: 600;
    opacity: 0.7;
    font-style: italic;
    margin-top: 15px;
}

.my_header .navbar-default.nav-custom .navbar-nav > li > a.active {
    color: #34495e;
    text-decoration: underline;
}

.my_header .navbar-default.nav-custom .navbar-nav > li .dropdown-menu li a.active {
    background-color: #349da2;
}

.widget-panel .widget-summary:not(.in-progress) .loading-dot {
    display: block;
}

.widget-panel .widget-chart:not(.in-progress) .loading-dot {
    display: block;
}

.dropdown-menu.dd-md.custom-dd {
    width: 565px;
}

.dropdown-menu.dd-md.custom-dd .filter-list {
    text-align: left;
}

.user-selection-titles {
    font-size: 1.6rem;
    font-weight: 500;
}

.table-my-actions .doc-path-2 {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.widget-panel .widget-chart .chart-disabled-overlay {
    width: 100%;
    height: 95%;
    top: 4%;
    left: 0;
    z-index: 9;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
}

.toggle-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #349da2;
    border: none;
    padding: 0;
    padding-top: 1px;
    padding-left: 0.5px;
}
.analyticsChart{
  background: #fff;
  margin: 0 auto;
  margin-bottom: 25px;
  padding-top: 10px;
  border-radius: 10px;
}

.analyticsChart .top6{
  width: 100%;
  float: left;
  height: 5px;
}
.analyticsChart .top6 i{
  margin-right: 7px;
  font-size: 18px;
  float: right;
}
.analyticsChart .top6 span{
  float: right;
}
.dropdown-menu.analyticsFilter{
    margin-left: 65px;
    margin-top: -240px;
}
.dropdown-menu.analyticsConfig{
    margin-left: 0px;
    margin-top: -124px;
    width: 100%;
}
.dropdown-menu.analyticsSearch{
    margin-left: 0px;
    margin-top: -343px;
    width: 80%;
}
.dropdown-menu.analyticsSearch hr{
  height: 2px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.6), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.6), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.6), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.6), transparent);
}
.dropdown-menu.analyticsSearch input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  text-align: center;
  font-size: large;
}
.dropdown-menu.analyticsSearch input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  text-align: center;
  font-size: large;
}
.dropdown-menu.analyticsSearch input::-moz-placeholder { /* Mozilla Firefox 19+ */
  text-align: center;
  font-size: large;
}
.dropdown-menu.analyticsSearch input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  text-align: center;
  font-size: large;
}

.analytics.center-graph{
  position: absolute;
  margin-top: -174px;
  margin-left: 167px;
  font-size: 24px;
}
.analytics.btn.filter{
    position: absolute;
    margin-top: -180px;
    margin-left: 30px;
    background-color: #9B59A3;
    font-size: 17px;
}
.analytics.btn.search{
  position: absolute;
  margin-top: -290px;
  margin-left: 227px;
  background-color: #3F50A2;
}
.analytics.btn.user{
  position: absolute;
  margin-top: -264px;
  margin-left: 57px;
  background-color: #7986CC;
  font-size: 18px;
}
.analytics.btn.security{
  position: absolute;
  margin-top: -225px;
  margin-left: 278px;
  font-size: 18px;
  background-color: #46A246;
}
.analytics.btn.folder{
  position: absolute;
  margin-top: -58px;
  margin-left: 127px;
  background-color: #ED9C27;
}
.analytics.btn.document{
  position: absolute;
  margin-top: -102px;
  margin-left: 54px;
  background-color: #349DA1;
}
.analytics.btn.config{
  position: absolute;
  margin-top: -70px;
  margin-left: 220px;
  background-color: #A4CF5C;
  font-size: 18px;
}
.analytics.btn.confidentiality{
  position: absolute;
  margin-top: -138px;
  margin-left: 280px;
  background-color: #E46159;
  font-size: 20px;
}
.analytics.btn.category{
  position: absolute;
  margin-top: -308px;
  margin-left: 133px;
  background-color: #E46159;
  font-size: 20px;
}

.analytics.bottom-line{
  color: #04A6E6;
  font-size: 18px;
  background: #04A6E6;
  position: relative;
  height: 3px;
  margin-top: 15px;
  margin-right: -42px;
  z-index: 999;
}
.analytics.bottom-line i{
  margin-top: -12px;
  position: absolute;
}
@media (max-width: 991px){
.analytics.bottom-line{
  margin-right: 0px !important;
}
}
@media (max-width: 1200px){
  .analytics-table .table{
    width:100%;
  }
}
@media (max-width: 1199px){
  .analytics.center-graph{
    margin-left: 129px;
    font-size: 20px;
  }
  .analytics.btn.filter{
    margin-top: -180px;
    margin-left: 16px;
  }
  .analytics.btn.search{
    margin-top: -271px;
    margin-left: 182px;
  }
  .analytics.btn.config{
    margin-top: -96px;
    margin-left: 173px;
  }
  .analytics.btn.category{
    margin-top: -287px;
    margin-left: 107px;
  }
  .analytics.btn.confidentiality{
    margin-top: -148px;
    margin-left: 218px;
  }
  .analytics.btn.security{
    margin-top: -216px;
    margin-left: 219px;
  }
  .analytics.btn.folder{
    margin-top: -81px;
    margin-left: 100px;
  }
  .analytics.btn.user{
    margin-top: -250px;
    margin-left: 39px;
  }
  .analytics.btn.document{
    margin-top: -116px;
    margin-left: 42px;
  }
}
@media (max-width: 991px){
  .analytics.center-graph{
    margin-left: 320px;
    font-size: 30px;
  }
  .analytics.btn.filter{
    margin-top: -185px;
    margin-left: 140px;
  }
  .analytics.btn.search{
    margin-top: -318px;
    margin-left: 414px;
  }
  .analytics.btn.config{
    margin-top: -46px;
    margin-left: 412px;
  }
  .analytics.btn.category{
    margin-top: -343px;
    margin-left: 288px;
  }
  .analytics.btn.confidentiality{
    margin-top: -130px;
    margin-left: 473px;
  }
  .analytics.btn.security{
    margin-top: -234px;
    margin-left: 469px;
  }
  .analytics.btn.folder{
    margin-top: -19px;
    margin-left: 278px;
  }
  .analytics.btn.user{
    margin-top: -291px;
    margin-left: 182px;
  }
  .analytics.btn.document{
    margin-top: -82px;
    margin-left: 176px;
  }
}
@media (max-width: 767px){
  .analytics.center-graph{
    margin-left: 176px;
    font-size: 25px;
  }
  .analytics.btn.filter{
    margin-top: -185px;
    margin-left: 28px;
  }
  .analytics.btn.search{
    margin-top: -292px;
    margin-left: 245px;
  }
  .analytics.btn.config{
    margin-top: -73px;
    margin-left: 245px;
  }
  .analytics.btn.category{
    margin-top: -318px;
    margin-left: 148px;
  }
  .analytics.btn.confidentiality{
    margin-top: -144px;
    margin-left: 297px;
  }
  .analytics.btn.security{
    margin-top: -228px;
    margin-left: 302px;
  }
  .analytics.btn.folder{
    margin-top: -53px;
    margin-left: 136px;
  }
  .analytics.btn.user{
    margin-top: -275px;
    margin-left: 59px;
  }
  .analytics.btn.document{
    margin-top: -103px;
    margin-left: 56px;
  }
}
@media (max-width: 460px){
  .analyticsChart{
    width:320px !important;
  }
  .analytics.center-graph{
    margin-left: 122px;
    font-size: 18px;
  }
  .analytics.btn.filter{
    margin-top: -185px;
    margin-left: 16px;
  }
  .analytics.btn.search{
    margin-top: -258px;
    margin-left: 164px;
  }
  .analytics.btn.config{
    margin-top: -102px;
    margin-left: 156px;
  }
  .analytics.btn.category{
    margin-top: -274px;
    margin-left: 103px;
  }
  .analytics.btn.confidentiality{
    margin-top: -148px;
    margin-left: 196px;
  }
  .analytics.btn.security{
    margin-top: -211px;
    margin-left: 200px;
  }
  .analytics.btn.folder{
    margin-top: -94px;
    margin-left: 88px;
  }
  .analytics.btn.user{
    margin-top: -247px;
    margin-left: 46px;
  }
  .analytics.btn.document{
    margin-top: -125px;
    margin-left: 38px;
  }
}
.help_guide_sub .filter-tags-userassign {
    padding-top: 10px;
    padding-left: 15px;
}

.filter-tags-userassign .filter-label-assign .filter-remove-assign {
    color: #fff;
    margin-right: 5px;
    cursor: pointer;
}

.filter-tags-userassign .filter-label-assign {
    margin-right: 5px;
    font-size: 100%;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 5px;
}

#userReviewChart {
    height: auto;
    margin-top: 12px;
}

.center-padding {
    text-align: left;
    padding-left: 95px !important;
}

.table-my-actions > tbody > tr > td {
    vertical-align: middle;
    position: relative;
    /* padding: 10px !important; */
}


/*.vertical-top.document_2nd.first-ch {
     min-width: 160px;
    max-width: 150px;
}*/

.table-challenge thead th.fix:first-child {
    width: 40px;
}


/*.dataTables_wrapper table thead th {
    padding-right: 17px !important;
}*/

.anomaly-icon.fix-icon-user {
    background-position: -21px -25px;
}

.anomaly-icon-fix {
    background-size: 346px;
}

.anomaly-icon.fix-icon-window {
    background-position: -23px -74px
}

.anomaly-icon.fix-icon-folder {
    background-position: -19px -143px;
}

.legend.fix {
    left: 20px;
    white-space: nowrap;
}

.fix-anomaly-help-button {
    color: #000011;
    font-weight: normal;
    width: 270px !important;
    min-width: 250px;
}

.dd-md.fix {
    width: 20vw
}

. .dd-md.fix1 {
    width: 24vw
}

.dd-md.fix2 {
    width: 21vw
}

.help_question_content.has-arrow.fixLeft {
    margin-left: -295px
}

.dropdown-menu.has-arrow.fix_notification {
    margin-left: -24px;
    margin-top: -24px;
}

.dropdown_menu.has-arrow.icon_help_noti {
    margin-left: -130px;
}

.dropdown_menu.dd-md.icon_help_noti {
    width: 20vw;
}

.dropdown_menu.has-arrow.icon_help_noti:after,
.dropdown-menu.has-arrow.icon_help_noti:before {
    left: -148px;
}

.dropdown-file-info-holder.fix_myteam {
    top: -12px;
    left: 3px;
    float: none;
}

.help_timeframe.has-arrow.fix_helpbutton_myteam {
    margin-top: 25px;
}

.fix_filter {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-file-info-holder.fix_infoButton {
    float: left;
    margin-right: 3px;
}

.dropdown-menu.dd-md.fix_infoButton {
    width: 41vw;
}

.fix_text_infoButton {
    float: right;
}

.help_timeframe.has-arrow.fix_text_infoButton {
    margin-left: -8px;
}

.fa-2x {
    font-size: 1.5em;
}

.fix_whitespace {
    white-space: normal;
    display: inline-block;
}

.dropdown-menu.dd-md.fix_filter_insight {
    width: 21vw;
}

.dropdown-menu.fix_ulFilter_insight {
    left: 25px
}

.doc-path.fix_docpath {
    max-width: 170px;
}

.panel-actions-fix {
    right: 150px;
    position: absolute;
    top: 15px;
}

.fix_center p {
    margin-top: 10px;
}

.not-active {
    pointer-events: none;
    cursor: default;
}

@media (min-width: 997px) {
    .dropdown-menu.dd-md.dd-right.fix1 {
        width: 21vw;
        right: 0;
        left: auto;
    }
}

@media (max-width: 996px) {
    .dropdown-menu.dd-md.dd-right.fix1 {
        width: 30vw;
        right: 0;
        margin-left: auto;
    }
}

@media (max-width: 767px) {
    .panel-title {
        max-width: 189px;
    }
}

@media (max-width: 480px) {
    .dropdown-menu.dd-md.dd-right.fix1 {
        width: 50vw;
        right: 0;
        margin-left: auto;
    }
}


/*.pb-none {
    padding-bottom: 10px !important;
}*/

.search-box-wrap {
    position: relative;
    width: 220px;
    vertical-align: top;
    top: -3px;
}

.search-box-input {
    border: 1px solid #aaaaaa;
    width: 220px;
    height: 32px;
    border-radius: 3px;
    padding: 0 5px;
    position: absolute;
}

.search-box-wrap .fa-search {
    position: absolute;
    right: 8px;
    top: 8px;
}

.fix_helpbutton_popup {
    margin-top: 4px;
}

.btn-blue-rv {
    border: 1px solid #1BC3E1;
    color: #1BC3E1;
}

.review-status-cat-table {
    border-bottom: 1px solid #ddd;
}

.anomaly-icon-fixReview {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url(../images/anomaly_charts2.png);
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

.anomaly-icon-fixReview.icon-progress {
    background-position: -120px 0;
}

.review-status-table .border-top {
    border-top: 1px solid #eee;
}

.review-status-table tbody tr td {
    text-align: left;
    padding: 4px;
}

.review-status-table tbody tr {
    max-height: 46px
}


/*.anomaly-table-fixReview {
    margin-bottom: 0;
    font-size: 13px;
}*/

.anomaly-table.fixReview > thead > tr > th {
    white-space: nowrap;
}

@media (max-width: 995px) {
    .reviewer-tab .nav-tabs .fix_responsive {
        display: block;
    }
}
.style-tooltip {
    cursor:default;
    padding:0;
    pointer-events:none;
    white-space:nowrap;
}
.style-text-tooltip {
    font-size:12px;
    color:#333333;
    fill:#333333;
}
.fix-mr-md{
    margin-right: 20px
}
.display_block {
    display: block;
}
.display_none {
    display: none;
}
h2 .panel-title p {
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
}
.logo-small {
    max-width: 300px;
}
.mt-lg {
    margin-top: 20px !important;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.logo-subtitle {
    color: #000;
    display: block;
    position: relative;
    top: -20px;
}
.text-weight-bold {
    font-weight: 700;
}
.search-box-wrap.start-page {
    top: 0;
    margin: 40px auto;
    max-width: 90%;
    width: 400px;
}
.search-box-wrap {
    position: relative;
    vertical-align: top;
}
.search-box-wrap.start-page .search-box-input {
    position: relative;
    width: 100%;
}
.smart-link {
    margin-bottom: 100px;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none !important;
    border: 1px solid;
    border-radius: 4px;
}
.smart-link1 {
    margin-bottom: 100px;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none !important;
 /*   border: 1px solid transparent;
    border-radius: 4px;*/
}
.results-search{
    margin-bottom: 5px;
}
.returned-screen{
    width: 130px
}
@media (max-width: 767px) {
    .returned-screen{
        width: 130px;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .returned-screen{
        width: 130px;
        margin-top: 20px;
    }
}
@media (min-width: 1200px){
    .panel-anomaly .table-responsive-fix-anomaly {
    overflow-x: visible;
    }
}

.table-responsive-fix-anomaly {
    min-height: .01%;

}
@media screen and (max-width: 991px){
     .table-responsive-fix-anomaly {
        min-height: .01%;
         overflow-x: auto;
    }
}
@media (max-width: 480px) {
    .anomaly-title {
        font-size: 15px;
        font-weight: normal;
        margin-bottom: 15px;
        margin-top: 0;
        white-space: normal;
    }
}
